# Google Gemini API Key
# Obtén tu llave en: https://aistudio.google.com/app/apikey
USE_LOCAL_MODEL=true
LOCAL_MODEL_NAME=phi3:mini
LOCAL_MODEL_URL=http://localhost:11434/v1k1fSXVWU9S9twgt2lj5ycESm3PjYI
